<section class="home-section">
    <div class="home-content">
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="sales-details">
                    <ul>
                        <li><div class="title">Personal Info</div></li>
                        <li><a>Image : </a></li>
                        <li><a>First Name : </a></li>
                        <li><a>Last Name : </a></li>
                        <li><a>Gender : </a></li>
                        <li><a>Age : </a></li>
                        <li><a>Adress : </a></li>
                        <li><a>City : </a></li>
                        <li><a>Country : </a></li>
                        <li><a>CIN : </a></li>
                    </ul>
                </div>
                <div class="sales-details">
                    <ul>
                        <li><div class="title">Contact info</div></li>
                        <li><a>Tel : </a></li>
                        <li><a>Email : </a></li>
                    </ul>
                </div>
                <div class="sales-details">
                    <ul>
                        <li><div class="title">Licence Info</div></li>
                        <li><a>Licence : </a></li>
                        <li><a>VolNumbre : </a></li>
                        <li><a>Date Licence : </a></li>
                        <li><a>Date Creation : </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>