<div class="sidebar">
    <div class="logo-details">
        <i class="bi bi-car-front"></i>
        <span class="logo_name">AvidCar</span>
    </div>
    <ul class="nav-links">
        <li>
            <a routerLink="/admin" class="active">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/client">
                <i class='bx bx-box' ></i>
                <span class="links_name">Client</span>
            </a>
        </li>
        <li>
            <a routerLink="/order">
                <i class='bx bx-list-ul' ></i>
                <span class="links_name">Order list</span>
            </a>
        </li>
        <li>
            <a routerLink="/car">
                <i class="bi bi-car-front"></i>
                <span class="links_name">Cars</span>
            </a>
        </li>
        <li>
            <a routerLink="/car">
                <i class="bi bi-bell-fill"></i>
                <span class="links_name">Notifications</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin">
                <i class='bx bx-user' ></i>
                <span class="links_name">Team</span>
            </a>
        </li>
        <li>
            <a routerLink="/Setting">
                <i class='bx bx-cog' ></i>
                <span class="links_name">Setting</span>
            </a>
        </li>
        <li class="log_out">
            <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>