<section class="home-section">
    <div class="home-content">
        <div class="sales-boxes">
            <div class="recent-sales box">
                <!--
                <div class="sales-details">
                    <ul class="details">
                        <input class="form-control form-control-lg" type="number" placeholder="Mileage">
                    </ul>
                    <ul class="details">
                        <input class="form-control form-control-lg" type="number" placeholder="Model">
                    </ul>
                    <ul class="details">
                        <input class="form-control form-control-lg" type="number" placeholder="HorsPower">
                    </ul>
                </div>
                <div class="sales-details">
                    <ul class="details">
                        <input class="form-control form-control-lg" type="number" placeholder="bootSize">
                    </ul>
                    <ul class="details">
                        <input class="form-control form-control-lg" type="number" placeholder="Price">
                    </ul>
                    <ul class="details">
                        <input class="form-control form-control-lg" type="number" placeholder="Rate">
                    </ul>
                </div>
                <div class="sales-details">
                    <ul class="details">
                        <input class="form-control form-control-lg" type="number" placeholder="Consumption">
                    </ul>
                    <ul class="details">
                        <input class="form-control form-control-lg" type="number" placeholder="Seat">
                    </ul>
                    <ul class="details">
                        <input class="form-control form-control-lg" type="number" placeholder="Door">
                    </ul>
                </div>
                -->
                <div class="title">Cars Editeur</div>
                <div class="sales-details">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name">
                        </mat-form-field>
                    </form>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Matricule</mat-label>
                            <input matInput placeholder="Matricule">
                        </mat-form-field>
                    </form>
                </div>
                <div class="sales-details">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Mileage</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </form>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Model</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </form>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>HorsPower</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </form>
                </div>
                <div class="sales-details">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>bootSize</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </form>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Price</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </form>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Rate</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </form>
                </div>
                <div class="sales-details">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Consumption</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </form>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Seat</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </form>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Door</mat-label>
                            <input matInput type="number">
                        </mat-form-field>
                    </form>
                </div>
                <div class="sales-details" style="margin-bottom: 1%;">
                    <section class="example-section">
                        <mat-checkbox class="example-margin">Bluetooth</mat-checkbox>
                    </section>
                    <section class="example-section">
                        <mat-checkbox class="example-margin">AirBag</mat-checkbox>
                    </section>
                    <section class="example-section">
                        <mat-checkbox class="example-margin">CDM</mat-checkbox>
                    </section>
                    <section class="example-section">
                        <mat-checkbox class="example-margin">Protection Vol</mat-checkbox>
                    </section>
                    <section class="example-section">
                        <mat-checkbox class="example-margin">Respo Civile</mat-checkbox>
                    </section>
                    <section class="example-section">
                        <mat-checkbox class="example-margin">Bris Glace Pneus</mat-checkbox>
                    </section>
                </div>
                <div class="sales-details" style="margin-bottom: 1%;">
                    <ul class="details">
                        <p>Brande</p>
                        <mat-form-field>
                            <select matNativeControl required>
                                <option *ngFor="let brande of brandes" [value]="brande">{{ brande }}</option>
                            </select>
                        </mat-form-field>
                    </ul>
                    <ul class="details">
                        <p>GearBox</p>
                        <mat-form-field>
                            <select matNativeControl required>
                                <option *ngFor="let gearbox of gearboxs" [value]="gearbox">{{ gearbox }}</option>
                            </select>
                        </mat-form-field>
                    </ul>
                    <ul class="details">
                        <p>Fuel</p>
                        <mat-form-field>
                            <select matNativeControl required>
                                <option *ngFor="let fuel of fuels" [value]="fuel">{{ fuel }}</option>
                            </select>
                        </mat-form-field>
                    </ul>
                    <ul class="details">
                        <p>Style</p>
                        <mat-form-field>
                            <select matNativeControl required>
                                <option *ngFor="let style of styles" [value]="style">{{ style }}</option>
                            </select>
                        </mat-form-field>
                    </ul>
                </div>
                <div class="button">
                    <a routerLink="/carEditeur" routerLinkActive="active">Add New Car</a>
                </div>
            </div>
        </div>
    </div>
</section>