<section class="home-section">
    <div class="home-content">
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">Cars Editeur</div>
                <div class="sales-details">
                    <div class="form-group">
                        <label for="exampleInput">Name:</label>
                        <input type="text" class="form-control" id="exampleInput" placeholder="Enter something">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Brande:</label>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect02" matNativeControl required [(ngModel)]="formData.Brande">
                                <option selected>Choose...</option>
                                <option *ngFor="let brande of brandes" [value]="brande">{{ brande }}</option>
                            </select>
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect02">Brande</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Model:</label>
                        <input type="number" class="form-control" id="exampleInput" placeholder="Enter something" min="2010" max="2050">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Immatriculation:</label>
                        <input type="text" class="form-control" id="exampleInput" placeholder="Enter something">
                    </div>
                </div>
                <div class="sales-details">
                    <div class="form-group">
                        <label for="exampleInput">Hors Power:</label>
                        <input type="number" class="form-control" id="exampleInput" placeholder="Enter something">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Style:</label>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect02" matNativeControl required>
                                <option selected>Choose...</option>
                                <option *ngFor="let style of styles" [value]="style">{{ style }}</option>
                            </select>
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect02">Style</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Mileage:</label>
                        <input type="number" class="form-control" id="exampleInput" placeholder="Enter something">
                    </div>
                </div>
                <div class="sales-details">
                    <div class="form-group">
                        <label for="exampleInput">Consumption:</label>
                        <input type="number" class="form-control" id="exampleInput" placeholder="Enter something">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Boot Size:</label>
                        <input type="number" class="form-control" id="exampleInput" placeholder="Enter something">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Bluetooth:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">AirBag:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sales-details">
                    <div class="form-group">
                        <label for="exampleInput">GearBox:</label>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect02" matNativeControl required>
                                <option selected>Choose...</option>
                                <option *ngFor="let gearbox of gearboxs" [value]="gearbox">{{ gearbox }}</option>
                            </select>
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect02">GearBox</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Fuel:</label>
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect02" matNativeControl required>
                                <option selected>Choose...</option>
                                <option *ngFor="let fuel of fuels" [value]="fuel">{{ fuel }}</option>
                            </select>
                            <div class="input-group-append">
                              <label class="input-group-text" for="inputGroupSelect02">Fuel</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Seat:</label>
                        <input type="number" class="form-control" id="exampleInput" placeholder="Enter something">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Door:</label>
                        <input type="number" class="form-control" id="exampleInput" placeholder="Enter something">
                    </div>
                </div>
                <div class="sales-details">
                    <div class="form-group">
                        <label for="exampleInput">Price:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <div class="input-group-append">
                              <span class="input-group-text"> DH </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sales-details">
                    <div class="form-group">
                        <label for="exampleInput">CDM:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Protection Volle:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Respo Civile:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Bris Glace Pneus:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <input type="checkbox" aria-label="Checkbox for following text input">
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sales-details">
                    <div class="form-group">
                        <label for="exampleInput">Photo:</label>
                        <input type="file" class="form-control" id="exampleInput">
                        <input type="file" class="form-control" id="exampleInput">
                        <input type="file" class="form-control" id="exampleInput">
                        <input type="file" class="form-control" id="exampleInput">
                    </div>
                </div>
                <div class="button">
                    <a routerLink="/car" routerLinkActive="active" style="background: #da1818;">Cancel</a>
                    <a routerLinkActive="active">Save</a>
                </div>
            </div>
        </div>
    </div>
</section>