<section class="home-section">
    <div class="home-content">
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">Recent Cars</div>
                <div class="sales-details">
                    <ul class="details">
                        <li class="topic">Brand</li>
                        <li *ngFor="let car of cars"><a href="#">{{car.Brande}}</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Name</li>
                        <li *ngFor="let car of cars"><a href="#">{{car.Name}}</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Color</li>
                        <li *ngFor="let car of cars"><a href="#">XXXXXXX</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Fuel</li>
                        <li *ngFor="let car of cars"><a href="#">{{car.fuel}}</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Power</li>
                        <li *ngFor="let car of cars"><a href="#">{{car.HorsPower}}</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Gearbox</li>
                        <li *ngFor="let car of cars"><a href="#">{{car.gearBox}}</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Consomation</li>
                        <li *ngFor="let car of cars"><a href="#">{{car.Consumption}}</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Doors</li>
                        <li *ngFor="let car of cars"><a href="#">{{car.Door}}</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Seats</li>
                        <li *ngFor="let car of cars"><a href="#">{{car.Seat}}</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Bluetooth</li>
                        <li *ngFor="let car of cars"><a href="#">{{car.Bluetooth}}</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">AirConditione</li>
                        <li *ngFor="let car of cars"><a href="#">{{car.AirBag}}</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Description</li>
                        <li *ngFor="let car of cars"><a href="#">XXXXXXX</a></li>
                    </ul>
                    <ul class="details">
                        <li class="topic">Actions</li>
                        <li *ngFor="let car of cars">
                            <a style="margin: 0px 5px 0px 5px;"><i class="bi bi-pen"></i></a>
                            <a style="margin: 0px 5px 0px 5px;"><i class="bi bi-trash"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="button" >
                    <a onclick="document.getElementById('id01').style.display='block'">Add New Car</a>
                </div>
                <!-- ----------------------------------Dialoge---------------------------------- -->

                <div id="id01" class="modal">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <form class="modal-content">
                        <div class="container">
                            <h1>Add New Car</h1>
                            <hr>
                            <!--
                                Name: string;
                                Matricule: string;
                                Mileage: number;
                                Model: number;
                                HorsPower: number;
                                Consumption: number;
                                Seat: number;
                                Door: number;
                                bootSize: number;
                                Price: number;
                                Rate: number;
                                Bluetooth: boolean;
                                CDM: boolean;
                                AirBag: boolean;
                                ProtectionVol: boolean;
                                RespoCivile: boolean;
                                BrisGlacePneus: boolean;
                                Brande: Brande;
                                fuel: Fuel;
                                gearBox: GearBox;
                                Style: Style;
                                photo: number;
                            -->
                            
                            <input class="form-control" type="text" placeholder="Name" name="Name">
                            <input class="form-control" type="text" placeholder="Matricule" name="Matricule">

                            <input class="form-control" type="text" placeholder="Mileage" name="Mileage">
                            <input class="form-control" type="text" placeholder="Model" name="Model">
                            <input class="form-control" type="text" placeholder="Hors Power" name="HorsPower">
                            <input class="form-control" type="text" placeholder="Consumption" name="Consumption">
                            <input class="form-control" type="text" placeholder="Seat" name="Seat">
                            <input class="form-control" type="text" placeholder="Door" name="Door">
                            <input class="form-control" type="text" placeholder="boot Size" name="bootSize">
                            <input class="form-control" type="text" placeholder="Price" name="Price">
                            <input class="form-control" type="text" placeholder="Rate" name="Rate">

                            <input class="form-control" type="text" placeholder="Bluetooth" name="Bluetooth">
                            <input class="form-control" type="text" placeholder="CDM" name="CDM">
                            <input class="form-control" type="text" placeholder="AirBag" name="AirBag">
                            <input class="form-control" type="text" placeholder="ProtectionVol" name="ProtectionVol">
                            <input class="form-control" type="text" placeholder="RespoCivile" name="RespoCivile">
                            <input class="form-control" type="text" placeholder="BrisGlacePneus" name="BrisGlacePneus">

                            <input class="form-control" type="text" placeholder="Brande" name="Brande">
                            <input class="form-control" type="text" placeholder="fuel" name="fuel">
                            <input class="form-control" type="text" placeholder="gearBox" name="gearBox">
                            <input class="form-control" type="text" placeholder="Style" name="Style">
                            <input class="form-control" type="text" placeholder="gearBox" name="gearBox">
                            
                            <input class="form-control" type="text" placeholder="photo" name="photo">

                            <div class="form-check" style="margin-left: 30px;">
                                <input class="form-check-input" type="checkbox" name="AirBag">
                                <label class="form-check-label" for="defaultCheck1">AirBag</label>
                            </div>
                            <div class="form-check" style="margin-left: 30px;">
                                <input class="form-check-input" type="checkbox" name="Bluetooth">
                                <label class="form-check-label" for="defaultCheck2">Bluetooth</label>
                            </div>
                            
                            <div class="clearfix">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                                <button type="button" class="signupbtn">Valider</button>
                            </div>
                        </div>
                    </form>
                </div>
                  
                <script>
                    // Get the modal
                    var modal = document.getElementById('id01');
                  
                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>

                <!-- ------------------------------------Fin------------------------------------ -->
            </div>
        </div>
    </div>
</section>